<!doctype html>
<html ng-app="app">
<head>
	<title></title>
</head>
<body>
Hola Angular <br>
	<div ng-controller="ctll">
nombre: <input type="text" ng-model="nombre"><br>
<table>
<tr ng-repeat="d in list | filter:nombre ">
	<td>
		{{ d.codigo}}
	</td>
	<td>
		{{ d.nombre}}
	</td>
</tr>
</table>

<button ng-click="saludo()">Saludar</button>
	</div>

<script src="node_modules/angular/angular.js"></script>
<script type="text/javascript">
	angular.module("app",[
	])
	.controller("ctll", function ($scope) {
		//$scope.nombre="Miguel";
		$scope.saludo = function  () {
			console.log("Hola "+$scope.nombre);
		}
		$scope.list=[
					    {
					        "id": 2,
					        "codigo": "02",
					        "nombre": "Laptop",
					        "activo": true,
					        "fecha": "2015-11-08T15:31:08Z"
					    },
					    {
					        "id": 3,
					        "codigo": "Electro",
					        "nombre": "Electrodomesticos",
					        "activo": false,
					        "fecha": null
					    },
					    {
					        "id": 4,
					        "codigo": "Electro",
					        "nombre": "Electrodomesticos",
					        "activo": false,
					        "fecha": null
					    }
					]
	});
</script>
</body>
</html>